* {
    margin: 0;
}

#page-wrap {
    font-family: monospace;
    background-color: #796553;
    color: #fff;
    font-size: calc(1px + 1.2lvw);
}

#page-wrap h2 {
    text-align: center;
    margin: 1vw;
}

#page-wrap h3 {
    color: #28190E;
    margin: 1vw;
}

header {
    padding: 2vw 4vw;
    text-align: left;
    color: #fff;
    background-color: #28190E;
    max-width: 100%;
}

header p {
    margin-top: 1vw;
}

header a,
main a {
    color: #fff;
}

nav {
    padding: 1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    padding: 1vw;
    margin: 4vw 0;
    border: solid 0.4vw #fff;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
}

main {
    min-height: 100vh;
}

footer {
    background-color: #28190E;
    text-align: center;
    color: #fff;
    padding: 0.5vw;
}

footer a {
    color: #fff;
}


#main {
    max-width: 70%;
    margin: 1vw 3vw;
}

#menu {
    background-color: #5E5345;
    max-width: 30%;
}


#all {
    display: flex;
    flex-direction: row;
}

#inputs {
    display: flex;
    flex-direction: column;
}

label {
    text-align: center;
    font-size: calc(1px + 2lvw);
    margin: 1vh;
}

input {
    margin: auto;
    height: 4vh;
    width: 98%;

}

#buttons {
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
}

button {
    height: calc(2px + 4lvw);
    width: calc(2px + 6lvw);
    background-color: #FF8A5B;
    border: none;
    color: #FFFAFF;
}

#ops {
    width: 100%;
    margin: auto;
}

#clear button {
    margin-top: 1vh;
    width: 100%
}

#result {
    margin: 2vh auto;
}

@media screen and (max-width: 720px) {

    header {
        padding-left: 0;
        text-align: center;
    }

    #all {
        flex-direction: column;
    }

    nav li {
        display: inline-block;
        padding: 0.4vw;
        margin: 0.1vw 0.4vw;
        border: solid 0.2vw #fff;
    }

    nav li {
        margin: 1vw;
        padding: 1vw;
    }

    #menu {
        max-width: 100%;
    }

    #main {
        max-width: 100%
    }

    #ops button {
        height: calc(2px + 4lvw);
        width: 100%;
    }
}