* {
    margin: 0;
}

#page-wrap {
    font-family: monospace;
    background-color: #6BA06A;
    color: #fff;
    font-size: calc(1px + 1.2lvw);
}

#page-wrap h2 {
    text-align: center;
    margin: 1vw;
}

#page-wrap h3 {
    color: #111D13;
    margin: 1vw;
}

header {
    padding: 2vw 4vw;
    text-align: left;
    color: #fff;
    background-color: #111D13;
    max-width: 100%;
}

header p {
    margin-top: 1vw;
}

header a , main a{
    color: #fff;
}
nav {
    padding: 1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    padding: 1vw;
    margin: 4vw 0;
    border: solid 0.4vw #fff;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
}
main li, main p {
    margin: 0.5vw;
}

main {
    min-height:100vh;
}

#main {
    max-width: 70%;
    margin: 1vw 3vw;
}

#menu {
    background-color: #0E402D;
    max-width: 30%;
}

#all {
    display: flex;
    flex-direction: row;
}

footer{
    background-color: #111D13;
    text-align: center;
    color: #fff;
    padding: 0.5vw;
}

footer a {
    color: #fff;
}


#award-1, #award-2{
    margin: 1vw 3vw;
    display: flex;
    flex-direction: row;
}

#qimam, #kgsp{
    flex: 70%;
}

#qimam-pic, #kgsp-pic {
    flex: 30% ;
    margin: 2vw
}

img {
    border: 0.5vw solid #111D13;
    max-width: 90%;
}

#container {
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 720px){

    header {
        padding-left: 0;
        text-align: center;
    }

    #all {
        display: flex;
        flex-direction: column;
    }

    nav li {
        display: inline-block;
        padding: 0.4vw;
        margin: 0.1vw 0.4vw;
        border: solid 0.2vw #fff;
    }
    nav li {
        margin: 1vw;
        padding: 1vw;
    }

    #menu{
        max-width: 100%;
    }
    #main{
        max-width: 100%
    }


    #award-1, #award-2{
        flex-direction: column;
    }
    #qimam, #kgsp{
        max-width: 100%;
    }

    #qimam-pic, #kgsp-pic {
        max-width: 100%;
    }

    img {
        display: block;
        max-width: 40%;
        margin: auto
    }
}